探索Chipotel快餐数据

In [1]:
import pandas as pd
import numpy as np

In [2]:
path1 = "./data/exercise_data/chipotle.tsv"
chipo = pd.read_csv(path1, sep='\t')
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [3]:
chipo.shape[1]

5

In [4]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [5]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [6]:
c = chipo[['item_name','quantity']].groupby(['item_name'], as_index=False).agg({'quantity':sum})
c.sort_values(['quantity'], ascending=False, inplace=True)
c.head(1)

       item_name  quantity
17  Chicken Bowl       761

In [7]:
chipo['item_name'].nunique()

50

In [8]:
chipo['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

In [9]:
chipo['quantity'].sum()

4972

In [19]:
def price_to_float(x):
    return float(x[1:]) 

chipo['item_price'] = chipo['item_price'].apply(price_to_float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [23]:
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
chipo.head()
chipo['sub_total'].sum()

39237.02

In [24]:
chipo['order_id'].nunique()

1834

In [28]:
chipo[['order_id', 'sub_total']].groupby('order_id').agg({'sub_total':sum})['sub_total'].mean()

21.394231188658654

In [29]:
chipo['item_name'].nunique()

50